<!-- Breadcrumb -->
<nav aria-label="breadcrumb card-body">
  <ol class="breadcrumb border breadcrumb-style1">
    <li class="breadcrumb-item"><a href="<%= admin_root_url %>">Home</a></li>
    <li class="breadcrumb-item"><a href=" <%= admin_schedules_path %>">Schedules</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Schedule</li>
  </ol>
</nav>
<!-- /Breadcrumb -->


<%= render "form", schedule: @schedule %>


