<div class="inner-main-header">
  <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="<%= new_forum_path %>" data-toggle="inner-sidebar"><i class="material-icons">add</i></a>
 <!--  <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a> -->
  <select class="custom-select custom-select-sm w-auto mr-1">
    <option selected>All</option>
    <option value="1">Latest</option>
    <option value="2">Popular</option>
    <option value="3">Yours</option>
    <!-- <option value="3">Unsolved</option> -->
    <!-- <option value="3">No Replies Yet</option> -->
  </select>
  <span class="input-icon input-icon-sm ml-auto w-auto">
    <i class="material-icons">search</i>
    <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none" placeholder="Search forum">
  </span>
</div>
