<div class="col-md-4 d-none d-md-block">
  <div class="card">
    <div class="card-body">
      <nav class="nav flex-column nav-pills nav-gap-y-1">
        <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
          <i class="fas fa-user-cog mr-2"></i>Profile Information
        </a>
        <a href="<%= settings_root_path %>" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
          <i class="fas fa-cog mr-2"></i>Account Settings
        </a>
        <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
          <i class="fas fa-shield-alt mr-2"></i>Security
        </a>
        <a href="#notification" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
          <i class="far fa-bell mr-2"></i>Notification
        </a>
        <a href="#billing" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
          <i class="far fa-credit-card mr-2"></i>Billing
        </a>
      </nav>
    </div>
  </div>
</div>
