<section class="about">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 mt-3 mb-0">
          <h1>Building a better future for learning</h1>
          <p class="text-justify">We started Pertutor because we believe that what you learn matters and that good teaching is valuable when you can decide on what to study.</p>
          <p class="text-justify">We believe that instructors, and anyone coming from every background should be able to share their knowledge and skills with others in a community engaging way while generating income directly from their own audiences and on their own terms.</p>
          <p class="text-justify">When students pay teachers directly for their time, teachers can focus on doing the work they care about most, teaching. A few hundred paying students can support a livelihood.</p>
          <p class="mb-0 text-justify">Learners win, too. By opting into direct relationships with teachers, we can be more selective with what &amp; how we master information, by choosing the topics we find most meaningful and interesting to learn.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="join">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <h2>Join our team</h2>
        <p class="text-center">Founded in 2020, Pertutor is based in Accra, Ghana and backed mostly via bootstraping. If you would like to back us up as an investor, &amp; or an advisor, don't hesistate to <%= mail_to "support@pertutor.com", "send us an email" %>. We're building a democratic platform that lets learners support teaching directly.</p>
      </div>
    </div>
  </div>
</section>
