<section class="details">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
          <h1>Great teaching is valuable</h1>
          <p class="lead">Students pay directly for lessons they care about. Start accepting payments for delivering excellent lessons in just a few minutes. Top instructors on PerTutor have great earning potential per year.</p>
          <p class="text-center mb-0">
            <a class="btn btn-original btn-lg mt-1 ml-4 has-icon" href="<%= new_account_path %>" role="button"><i class="fas fa-plus mr-1"></i>Get started</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 offset-sm-1 mb-2">
        <i class="fas fa-users fa-3x"></i>
      </div>
      <div class="col-sm-8">
        <h5>Build your audience list</h5>
        <p>Start scheduling your available time to teach on PerTutor using simple, beautiful tools that make your schedules stand out, while building your audience or invite them on board.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 offset-sm-1 mb-2">
        <i class="fas fa-wallet fa-3x"></i>
      </div>
      <div class="col-sm-10">
        <h5>Accept payments</h5>
        <p>No tech skills required: just connect your bank or mobile money account and set a price. You decide what when you are available to teach and students decide what to learn by paying for your time.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 offset-sm-1 mb-2">
        <i class="fas fa-people-arrows fa-3x"></i>
      </div>
      <div class="col-sm-10">
        <h5>Your revenue grows with your students</h5>
        <p>On PerTutor, you make money by doing work that students value. Use our community features to build a deeper relationship with your students.</p>
      </div>
    </div>
  </div>
</section>

<section class="earnings">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>How much money can I earn?</h2>
        <p class="text-justify">The best way to start paid lessons is to first build an audience for your work. Not all of your students will book to pay for a lesson, but not all of them have to. If you’re able to convert 5-10% of your student list to paying learners for your sessions, you’re well on your way.</p>

        <p class="text-justify">Scheduling your time is free, forever. We only make money when you do. Once you charge your students for lessons, we charge 10%. There’s also payment processing fee charged by our payments provider which is approximately 1 - 3%.</p>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <h6 class="mt-0 mb-2">See what you could earn with paid bookings</h6>
            <select class="form-control bs-select mb-2" title="Select paid students">
              <option value="1">25 paid</option>
              <option value="2">50 paid</option>
              <option value="4">75 paid</option>
              <option value="5">100 paid</option>
              <option value="6">150 paid</option>
            </select>
            <select class="form-control bs-select mb-4" title="Select amount per student">
              <option value="1">10GHS/student</option>
              <option value="2">15GHS/student</option>
              <option value="4">30GHS/student</option>
              <option value="5">40GHS/student</option>
              <option value="6">50GHS/student</option>
            </select>

            <h3>GHS 250 <small>per class</small></h3>
          </div>
        <a href="<%= new_account_path %>" class="btn btn-original btn-block has-icon"> <i class="fas fa-plus mr-1"></i>Get started</a>
      </div>
    </div>
  </div>
</section>
