$white: #fff !default;
$gray-100: #f8f9fa !default;


$pertutor: #1A253B !default;
$original: #1A253B !default;

// $pertutor: #223C5E !default;
// $original: #223C5E !default;

$ft_primary: #223C5E !default;
// $original: #394558 !default;

$btn_pertutor: #223C5E !default;
$btn_original: #FF4725 !default;
// $btn_original: #007BFF !default;
// $btn_original: #4285F4 !default;

// Footer
$footer-bg: #272331;
$footer-bg2: $ft_primary;
$footer-link-color: #bababa;
$footer-link-hover-color: $white;
$color-500 : #803f3e;
