<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mt-2">Company</h6>
        <div class="list-group list-group-flush">
          <a href="https://twitter.com/pertutor_saas" class="list-group-item list-group-item-action">@Pertutor_us</a>
          <a href="<%= about_path %>" class="list-group-item list-group-item-action">About</a>
          <!-- <a href="#" class="list-group-item list-group-item-action">Blog</a> -->
        </div>
      </div>
      <div class="col-sm-3">
        <h6 class="mt-2">Instructors</h6>
        <div class="list-group list-group-flush">
          <a href="<%#= faqs_path %>" class="list-group-item list-group-item-action">FAQs</a>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="mt-2">PerTutor</h2>
        <p>The edtech platform for people who love teaching and pedantic about students' understand.</p>
      </div>
    </div>
  </div>
</div>


<div class="copyright">
  Copyright © <%= Time.now.year %> PerTutor All right reserved. <small>Built with ❤️ from Ghana.</small>
</div>
