<hr>
<div class="copyright" style="background-color:  <%= current_account&.footer_color %>;">
  Copyright &copy; <%= Time.now.year %> <strong><%= current_account.name.capitalize %></strong> All right reserved. <small>Built with ❤️ from PerTutor.</small>
</div>
