<!-- Search Modal -->
<div class="modal" id="searchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-1 p-lg-3">
        <form>
          <div class="input-group input-group-lg input-group-search">
            <div class="input-group-prepend">
              <button class="btn text-secondary btn-icon btn-lg" type="button" data-dismiss="modal">
                <i class="fa fa-chevron-left"></i>
              </button>
            </div>
            <input type="text" class="form-control form-control-lg border-0 mx-1 px-0 px-lg-3" placeholder="Search..." autocomplete="off" required autofocus>
            <div class="input-group-append">
              <button class="btn text-secondary btn-icon btn-lg" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Search Modal -->
