<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar header -->
  <!-- <div class="sidebar-header"> -->
     <%= render "layouts/account/sidebar_header" %>
  <!-- </div> -->
  <!-- /Sidebar header -->

  <!-- Sidebar body -->
  <!-- <div class="sidebar-body"> -->
     <%= render "layouts/account/sidebar_body" %>
  <!-- </div> -->
  <!-- /Sidebar body -->
</div>
<!-- /Sidebar -->
